
body {
    background-color: #87CEEB;
}
div{
    /*border: 1px solid;*/
}
#formulario{
   
    
    border-radius: 1px;
    font-size: 25px;
    text-align: center;
    line-height: 1;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    padding: 15px;
    margin-right: 70px;
    margin-left: 70px;
}
#titulo{

    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
 
    font-weight: bold;
}

input {
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
#btn {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
    0 10px 10px rgba(0,0,0,0.22);
    border-radius: 5px;
    background-color: #dc392d; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;

}
#btn:hover{

    border-radius: 5px;
    background-color: #ff1100 ; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;

}
#leyendas {

    text-align: center;
    
}
footer{

    margin: 25px;
}